:root{
    --link-color: #000000;
    --hover-color: #2196F3;
    
}

h1,h2,h3,h4,h5,h6,ul,li,p{
    margin:0;
    padding: 0;
}

.visually-hidden{
    position:absolute;
    white-space: nowrap;
    width: 1px;
    height:1px;
    overflow: hidden;
    border:0;
    padding: 0;
    clip:rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

img{
    display: block;
}

.body{
    font-family: Roboto, Tahomma, sans-serif;
    margin-top: 0 ;
}

.container{
    margin:0 auto;
    padding-left: 15px;
    padding-right: 15px;
    width: 1200px;
   
    box-sizing: border-box;
}

.list{
    list-style: none;
}

.link{
    text-decoration: none;
}

.footer-link{
    font-style: normal;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
}

.link-comp{
    font-size: 14px;
    font-weight: 500;
    line-height: 1.17;  
    letter-spacing: 0.02em;
}

.section-title{
    font-size: 36px;
    line-height: 1.17;
    color: #212121;
    letter-spacing: 0.03em;
    text-align: center;
}

/* ----------------------------header------------------- */

.header{
    border-bottom: 1px solid #ECECEC;
}

.header .container{
    display: flex;
    align-items: center;
}

.logo-link{
    margin-right: 90px;
    padding-top: 25px;
    padding-bottom:25px;
    font-family: Raleway,Tahoma,sans-serif;
    font-weight: 700;
    font-size: 26;
    line-height: 1.15;
    letter-spacing: 0.03em;
    color:#000000
}

.logo-span{
    color: #2196F3;
}
   
.navigation-list{
    display: flex;
    align-items: center;
    gap: 50px;
}

.header-nav-link{
    padding-top: 25px;
    padding-bottom: 25px;
   
    color: var(--link-color);
}  

.header-connect{
    position: relative;
    display:flex;
    gap: 50px;
    margin-left: auto;
}

.header-mail,.header-phone{
    padding-top: 30px;
    padding-bottom: 30px;
    color: #757575;
 }

.header-phone::before{
    content:"" ;
    position: absolute;
    right:130px;
    display: block;
    background-image: url("../images/header-connect/smartphone.svg");
    width: 10px;
    height: 16px;
}
 
 .header-mail::before{
    content:"" ;
    position: absolute;
    left:-25px;
    display: block;
    background-image: url("../images/header-connect/envelope.svg");
    width: 16px;
    height: 12px;
 }
 
.header-nav-link:hover,
.header-nav-link:focus{

  color: var(--hover-color);
 }  

.header-mail:hover,
.header-mail:focus{ 
    color:var(--hover-color);
}   

.header-phone:hover,
.header-phone:focus{
    color:var(--hover-color);
}   
  
/* ----------------------------hero------------------- */

.hero{
    margin-left: auto;
    margin-right: auto;
    padding-top: 200px;
    padding-bottom: 200px;
    width: 1600px;
    background-image: url("../images/bg_hero.jpg");
}


.hero-wrap{
    max-width: 670px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.hero-title{
    margin-bottom: 30px;
    font-size: 44px;
    font-weight: 900;
    line-height: 1.36;
    letter-spacing: 6%;
    color:#FFFFFF;
}

.hero-button{
    min-width: 200px;
    height:50px;
    border-radius: 4px;
    border: none;
    font-family: inherit;
    text-align: center;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color:#ffffff;
    background: #2196F3;
}

/* ----------------------------feature------------------- */
.our_feature{
    display: flex;
    padding-top: 95px;
    padding-bottom: 45px;
}

.our_feature-list{
    display: flex;
    gap: 30px;
    flex-grow: 1;
}
.feature-div{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    width: 270px;
    height: 120px;
    background-color: #F5F4FA;
    border-radius: 4px;
}

.feature-img{
    width: 70px;
    height: 70px;
}

.our_feature-title{
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
}

.our_feature-text{
    text-align: left;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    color: #757575;
    letter-spacing: 0.03em;
} 

/* ----------------------------our product ------------------- */
.our-product-section{
    padding-top: 45px;
    padding-bottom: 95px;
}

.our-product-list{
    display:flex;   
    gap:30px;
 
}

/* .our-product-item:not(:last-child){
    margin-right:30px
} */

.our-product-title{
  margin-bottom: 50px;
}

/* ----------------------------our team ------------------- */

.our-team-section{
    padding-top: 100px;
    padding-bottom: 100px;
    background: #F5F4FA;
}

.our-team-title{
    margin-bottom: 55px;
}

.our-team-list{
    display: flex;
    gap:30px;
}

.our-team-item{
    background-color: #ffffff;
    border-radius: 0px 0px 4px 4px;
    box-shadow: -1px 0 0 rgb(175 177 184 / 50%), 0 2px 2px rgb(175 177 184 / 60%),  1px 0 0 rgb(175 177 184 / 50%);
}
  

.our-team-image{
    margin-bottom: 30px;
}

.our-team-specialist{
    margin-bottom: 15px;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1,17;
    letter-spacing: 0.03em;
    color:#212121
}

.our-team-text{
    margin-bottom: 30px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #757575;
    text-align: center;
}

.social-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
}

.team-social-list{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-left: auto;
    margin-right: auto;
    max-width: 206px;
}

.team-social-list li{
    padding-bottom: 20px;
}



/* ------------------------------------------------------- */

.reg-customers-section{
    padding-top: 95px;
    padding-bottom: 95px;
}

.reg-customers-title{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
}

.reg-customers-list{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    width: fit-content;
    gap:30px
}

.reg-customers-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 92px;
    width: 168px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
}

/* ----------------------------footer------------------- */

.footer{
    padding-top:60px;
    padding-bottom:60px;
    background: #2F303A;
}


.footer-logo-span{
    color:#ffffff;
}

.footer-wrap{
    display: flex;
    justify-content: flex-start;
}

.footer-social-text{
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 3%;
    color: #ffffff;
}
.futer-logo-link{ 
    margin-bottom: 30px;
    text-align: left;
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.6;
    letter-spacing: 0.03em;
}

.footer-link{
   
     color: rgb(255 255 255 / 60%);
}
 
.address-link{
    color:#ffffff; 
}

.footer-social-wraper{
    margin-left: 90px;
}

.social-footer-wraper{
    background-color: rgb(0 0 0 / 10%);
}
 
.footer-logo-span{
    color: #ffffff;
}

.futer-social-list{
    display: flex;
}

/* портфолио */

.filter-section{
    padding-top: 95px;
    padding-bottom: 25px; 
}

.filter-list{
  display: flex;
  justify-content: center;
  gap: 8px;
}
.filter-button{
    padding-left: 23px;
    padding-right: 23px;
    padding-top: 14px;
    padding-bottom: 14px;
    background-color: #F5F4FA;;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.6;
    letter-spacing: 0.03em;
    text-align: center;
    border-radius: 4px;
    border:none;
}

.filter-button:hover{
    color: #FFFFFF;
    background-color: #2196F3;
}


/* ----------------------------our-projects------------------- */


.our-projects-section{
    padding-top: 25px   ;
    padding-bottom: 95px; 
}

.our-projects-list{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.our-projects-item{
   border: 1px solid #eeeeee;
    background-color:rgb(251 251 251 );
}

.our-projects-item:hover{
    box-shadow: -1px 0 0 rgb(175 177 184 / 50%), 0 2px 2px rgb(175 177 184 / 60%), 1px 0 0 rgb(175 177 184 / 50%);
}

.projects-title{
    margin-bottom: 25px;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}
 

.project-wrap{
    padding-left: 25px;
    padding-bottom: 27px;
}

.our-projects-image{
    margin-bottom: 30px;
}



    










  











  

      